<html lang="en" ng-app="myApp">

<head>
    <script type="text/javascript"
            src="{{ url_for('static', filename='packages/angular.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='packages/angular-route.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='packages/angular.min.js.map') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='packages/angular-route.min.js.map') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='packages/angular-upload.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='uploadvid.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='watchVid.js') }}"></script>
    <link rel="import" href="partial/uploadvid.html">
    <link rel="import" href="partial/watchvid.html">
    <title>Ctrl-FV Beta</title>
</head>

<body ng-controller="mainCtrl as ctrl">
    <div>
        <h5>Hello!</h5>
        <span>[[ ctrl.name ]]</span>
        <br>
    </div>
    <a href="#upload">Go to upload</a>
    <a href="#watch">Go to watch video</a>
    <ng-view></ng-view>
</body>
</html>