<div class="view">
    <style>
        .container {
            width: 40%;
        }
    </style>


    <div class="pageHeader text-center" style="text-align: center">
        <h1>Login</h1>
    </div>


    <div class="container" style="text-align: center">
        <form name="login" ng-submit="ctrl.login()">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input class="form-control" type="email" ng-model="ctrl.email" placeholder="E-Mail" required>
            </div>
            <br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" type="password" ng-model="ctrl.password" placeholder="Password" required>
            </div>
            <br>
            <input type="submit" value="Login" class="btn btn-success btn-lg"/>
        </form>
    </div>
</div>