<div class="view" data-ng-init="ctrl.init()">
    <h3> Videos uploaded by [[ctrl.User.username]]</h3>
    <table>
        <tr>
            <th>Video Name</th>
            <th>Description</th>
            <th>Go To Video</th>
        </tr>
        <tr ng-repeat="vid in ctrl.getVideos()">
            <td>[[vid.title]]</td>
            <td>[[vid.description]]</td>
            <td>
                <a ng-href="#/watch/[[vid.vid_id]]">
                    <h5>watch</h5></a>
            </td>

        </tr>
    </table>
</div>