<div style=" margin: 0.5% 1%; height: 90%;width: 97vw;" data-ng-init="ctrl.init()">
    <div class="section-title text-center">
        <h1 class="pageHeader"> My videos</h1>
    </div>
    <div style="height: 90%;width: 97vw; overflow-y: auto;overflow-x: hidden">
        <h4 style="text-align: center" md-theme="default"
            ng-if="ctrl.retrievedVideos && (!ctrl.getVideos() || ctrl.getVideos().length==0)">No
            videos uploaded. <a
                    href="#upload">Upload a video</a>
        </h4>
        <div class="container" style="width: 30%;height: 30%;margin: 0.5%;display: inline-block"
             ng-repeat="vid in ctrl.getVideos()">
            <md-card ng-href="#/watch/[[vid.vid_id]]" style="width: 100%;height: 100%" md-theme="default">
                <md-card-content style="height: 72%">
                    <div style="width: 40%;margin: 1%">
                        <a ng-href="#/watch/[[vid.vid_id]]">
                            <img class="thumbnail" style="height: auto;width: 100%" ng-src="[[vid.tn_url]]"/>
                        </a>
                    </div>
                    <div style="width: 57%;float: right;margin: 0">
                        <a ng-href="#/watch/[[vid.vid_id]]" style="text-decoration: none ">
                            <span class="md-headline">[[vid.title]]</span>
                        </a>
                        <p style="margin-bottom: 0.5%" class="md-subhead">[[vid.duration | secondsToDateTime |
                            date:'HH:mm:ss']]</p>
                        <p style="margin-bottom: 0.5%">[[vid.description]]</p>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center" style="min-height: calc(30% - 16px);margin: 1%">
                    <a style="margin: 1%" ng-href="#/watch/[[vid.vid_id]]"
                       type="button"
                       class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Play
                    </a>
                    <a style="margin:1%" ng-href="#myVids"
                       ng-click="ctrl.removeVideoFromSystem(vid.vid_id, $index)" type="button"
                       class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete
                    </a>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>