<div>
    <h3>Welcome to upload page</h3>
    <h5>[[ctrl.hello]]</h5>
    <br>
    <p>Video Name:</p>
    <input type="text" ng-model="ctrl.videoName">
    <br>
    <p>Video Description:</p>
    <input type="text" ng-model="ctrl.videoDescription">
    <br>
    <p>Upload video:</p>
    <input type="file" files-input accept="video/mp4" ng-model="ctrl.vidArray">
    <br>
    <p>Upload transcript:</p>
    <input type="file" files-input ng-model="ctrl.transArray">
    <button ng-click="ctrl.doUpload()">Upload</button>
    <div ng-repeat="file in ctrl.fileArray">
        [[file.name]]
    </div>
</div>