<div class="view">
    <div class="section-title text-center">
        <h3>Upload Video</h3>
    </div>
    <form name="uploadform" ng-submit="ctrl.doUpload()">
        <p>Video Name:</p>
        <input class="form-control" type="text" ng-model="ctrl.videoName" required>
        <br>
        <p>Video Description:</p>
        <input class="form-control" type="text" ng-model="ctrl.videoDescription">
        <br>
        <p>Upload video:</p>
        <input class="form-control" type="file" files-input accept="video/mp4" ng-model="ctrl.vidArray"
               onchange="angular.element(this).scope().validateVidFile(this)" required>
        [[VideoFileMessage]]
        [[showMessage]]
        <br>
        <input class="btn" type="submit" value="Upload">
    </form>
    <h4 ng-if="ctrl.isUploading">Uploading [[ctrl.videoName]]</h4>
    <div ng-if="ctrl.isUploading" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-linear md-mode="determinate" value="[[ctrl.progress]]"></md-progress-linear>
    </div>
</div>