<div class="view" ng-init="ctrl.init()">
    <style>
        .container {
            width: 75%;
        }

        table {
            width: 80%;
            margin: 0 auto;
        }

        td {
            width: 50%;
        }

        .highlight {
            font-weight: bold;
        }

        .progress-bar-transparent {
            background-color: transparent;
        }
    </style>
    <div class="pageHeader text-center">
        <h1>[[ctrl.videoData.title]]</h1>
    </div>
    <div class="container" ng-if="ctrl.indexLoaded" style="margin-left:65%; width:35%">
        <form ng-submit="ctrl.searchInVid()">
            <div class="input-group input-group-lg">
                <input class="form-control" type="text" placeholder="Search Inside" ng-model=ctrl.searchVal>
                <div class="input-group-btn">
                    <button class="btn btn-default" id="submit" type="submit"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <h5 class="text-center" ng-if="ctrl.videoData.confidence">Transcript confidence:
            [[ctrl.videoData.confidence*100|number:2]]%</h5>
    </div>
    <h5 ng-if="!ctrl.indexLoaded">Please wait for data to be loaded</h5>
    <div ng-show="ctrl.showRealTimeProgress">
        <uib-progress ng-if="ctrl.indexLoaded"
                      max="[[ctrl.progress.totalSegments]]">
        <span ng-if="ctrl.indexLoaded" ng-repeat="segNum in ctrl.range">
            <uib-bar
                    type="[[ctrl.progress.analyzedSegments.indexOf(segNum)>=0 ? 'info':'transparent']]"
                    value="1"></uib-bar>
            </span>
        </uib-progress>
    </div>

    <div class="container" style="width:40%; float:right">
        <h4 ng-if="ctrl.search_results && ctrl.numberOfResults() === 0 ">Found no results </h4>
        <table class="table table-hover table-condensed"
               ng-if="ctrl.search_results &&  ctrl.numberOfResults() > 0 ">
            <thead>
            <tr>
                <th style="width:20%">Time</th>
                <th>Sentence</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(time,paragraph) in ctrl.search_results track by $index" ng-click="ctrl.jump(time)">
                <td style="width:20%">[[time | secondsToDateTime | date:'HH:mm:ss']]</td>
                <td>
                    <span ng-repeat="word in paragraph.split(' ') track by $index" style="display: inline-block">
                        <p ng-if="ctrl.searchValCurrentTerms.indexOf(word) === -1">[[word]]&nbsp;</p>
                        <p ng-if="ctrl.searchValCurrentTerms.indexOf(word) > -1"><b>[[word]]&nbsp;</b></p>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="height:45%">
        <video id="currentVideo" controls
               style="margin-right: 60%; display: block ; height: auto; width:60%">
            <source ng-src="[[ctrl.currentVideoPath]]">
        </video>
    </div>
</div>