<div class="view">
    <style>
        .container {
            width: 75%;
        }

        table {
            width: 80%;
            margin: 0 auto;
        }

        td {
            width: 50%;
        }
    </style>
    <div class="section-title text-center">
        <h3>Watch video</h3>
    </div>
    <div>
        <form ng-if="ctrl.indexLoaded"
              ng-submit="ctrl.searchInVid()">
            <input class="form-control" type="text" placeholder="Search Inside" ng-model=ctrl.searchVal>
            <input class="btn" type="submit" id="submit" value="Search "/>
        </form>
        <h5 ng-if="!ctrl.indexLoaded">Please wait for data to be loaded</h5>
    </div>
    <div style="height:45%">
    <video id="currentVideo" controls style="margin-left: auto;margin-right: auto; display: block ; height: auto; width:40%" >
        <source ng-src="[[ctrl.currentVideoPath]]">
    </video>
    </div>


    <div class="container">
        <table class="table table-hover table-condensed ">
            <thead>
            <tr>
                <th>Time</th>
                <th>Sentence</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(time,paragraph) in ctrl.search_results" ng-click="ctrl.jump(time)">
                <td>[[time | secondsToDateTime | date:'HH:mm:ss']]</td>
                <td>[[paragraph]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>