<div class="view" ng-init="ctrl.init()">
    <style>
        .container {
            width: 75%;
        }
        .highlight {
            font-weight: bold;
        }

        .progress-bar-transparent {
            background-color: transparent;
        }
    </style>
    <div class="pageHeader text-center">
        <h1>[[ctrl.videoData.title]]</h1>
    </div>
    <div class="container" ng-if="ctrl.indexLoaded" style="margin-left:65%; width:35%">
        <form ng-submit="ctrl.searchInVid()">
            <div class="input-group input-group-lg">
                <input class="form-control" type="text" placeholder="Search Inside" ng-model=ctrl.searchVal>
                <div class="input-group-btn">
                    <button class="btn btn-default" id="submit" type="submit"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <h5 class="text-center" ng-if="ctrl.videoData.confidence">Transcript confidence:
            [[ctrl.videoData.confidence*100|number:2]]%</h5>
    </div>
    <h5 ng-if="!ctrl.indexLoaded">Please wait for data to be loaded</h5>
    <div ng-show="ctrl.showRealTimeProgress">
        <uib-progress ng-if="ctrl.indexLoaded"
                      max="[[ctrl.progress.totalSegments]]">
        <span ng-if="ctrl.indexLoaded" ng-repeat="segNum in ctrl.range">
            <uib-bar
                    type="[[ctrl.progress.analyzedSegments.indexOf(segNum)>=0 ? 'info':'transparent']]"
                    value="1"></uib-bar>
            </span>
        </uib-progress>
    </div>
    <div>
        <div class="video" style="float:left;">
            <video id="currentVideo" controls style="height : 60%">
                <source ng-src="[[ctrl.currentVideoPath]]">
            </video>
        </div>
        <div style="float:left;">
            <canvas id="my_canvas">
            </canvas>
        </div>
        <div style="float:left;width: 35%;" ng-show="ctrl.search_results ">

            <div ng-repeat="(time,paragraph) in ctrl.search_results track by $index
" ng-click="ctrl.jump(time)">
                <div style="border:2px solid grey ;border-radius: 8px; padding: 5px; margin: 5px;">
                    <strong> [[time | secondsToDateTime | date:'HH:mm:ss']]</strong>
                    <span ng-repeat="word in paragraph.split(' ') track by $index">
                        <span ng-if="ctrl.searchValCurrentTerms.indexOf(word) === -1">[[word]]&nbsp;</span>
                        <span ng-if="ctrl.searchValCurrentTerms.indexOf(word) > -1"><strong><mark>
                            [[word]]&nbsp;</mark></strong></span>
                    </span>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>


